{% extends "layout.html" %}

{% block title %}
flack - Create Account
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/base.css') }}">
{% endblock %}

{% block body %}
<div class="container col-lg-3 col-md-6 col-sm-9 align-self-center">
    <div class="centered-block card">
        {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
        {% endif %}

        <form action="{{ url_for('create_account') }}" method="POST">
            <input class="form-control" type="text" placeholder="username" name="username" value="{{ request.form.username }}">
            <input class="form-control" type="password" placeholder="password" name="password" value="{{ request.form.password }}">
            <input class="form-control" type="password" placeholder="confirm password" name="password2" value="{{ request.form.passord }}">
            <br>
            <input type="submit" class="btn btn-primary" value="Create Account">
        </form>
    </div>
</div>
{% endblock %}