{% extends "layout.html" %}

{% block title %}
    Flack
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/base.css') }}">
<script src="{{ url_for('static', filename='scripts/index.js') }}"></script>
{% endblock %}

{% block body %}
    <!-- New Handle Card -->
    <div id="handle-input-group" class="centered-block card col-lg-3 col-md-6 col-sm-10">
        <form action="{{ url_for('claim_handle') }}" method="POST">
            <div class="form-group">
                <input class="form-control" name="handle" placeholder="Handle">
            </div>
            <div class="form-group">
                <button class="btn btn-primary">Claim Handle</button>
            </div>
        </form>
    </div>
{% endblock %}